#intro {
    z-index: 1; 
    position: absolute; 
    background-color: rgba(47,45,45,1);
    border:1px solid white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#pong {
text-align:center;
vertical-align: middle;
color: white;
font-family: 'Press Start 2P', cursive;
font-size: 200px;
line-height: 250%;
}
#buttons {
    text-align:center;
    vertical-align: middle;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    
}
p {
    text-align:center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
#round {
    z-index: 1;
    position: absolute; 
    background-color: rgba(47,45,45,1);
    border:1px solid white;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
}
h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
    color: rgba(47,45,45,1);
}
#nextRnd {
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    vertical-align: middle;
    top: 25%;
    left: 32%;
    text-align: center;
    font-size: 35px;
}
#point {
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    vertical-align: middle;
    top: 40%;
    left: 5%;
    text-align: center;
    font-size: 30px;
}
#end {
    z-index: 1; 
    position: absolute; 
    background-color: rgba(47,45,45,1);
    border:1px solid white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#endPlayer {
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 80px;
}
body {
    /* z-index: 2; */
    background-image: url('../images/background.png');
    background-position: 60% 0%;
}
#header {
    /* z-index: 3; */
    background: white;
    height: 150px;
    position: relative;
    top: -150px;
}