#intro {
    z-index: 1; 
    position: absolute; 
    height: 400px; 
    background-color: rgba(47,45,45,1);
    border:1px solid white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#pong {
text-align:center;
vertical-align: middle;
color: white;
font-family: 'Press Start 2P', cursive;
font-size: 200px;
line-height: 250%;
}
p {
    text-align:center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
}